<tbody>
     {{#each results}}
            <tr>
                <td></td>
                 <td>{{id}}</td>
                 <td>{{name}}</td>
                 <td>{{reps}}</td>
                 <td>{{weight}}</td>
                 <td>{{date}}</td>
                 <td>{{lbs}}</td>

           </tr>
      {{/each}}
<tbody>
